input {
    width: 208px;
    height: 30px;
  
    border: 1px solid #4c4caf;
    border-radius: 2px;
    background-color: #42adf5;
    color: #ffffff;
    font-size: 18px;
    text-align: center;
  }
  
  button {
    width: 66px;
    height: 30px;
  
    border: 1px solid #4c4caf;
    border-radius: 2px;
    background-color: #42adf5;
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;
  }
  
  button:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
  
  button:not([disabled]):hover {
    background-color: #425af5; 
  }
  
  span {
    display: block;
  }
  
  .timer {
    display: flex;
    width: 279px;
    margin-top: 20px;
    color: #576060;
  }
  
  .field {
    width: 66px;
    
    vertical-align: top;
    border: 1px solid #4c4caf;
    border-radius: 2px;
    background-color: #42adf5;
    font-size: 16px;
    text-align: center;
   
  }
  .field:not(:last-child){
    margin-right: 5px;
  }
  
  .label {
    font-size: 10px;
    font-weight: 700;
  }